@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');


*{
/*establece como se calcula el ancho y alto total de un elemento*/
    box-sizing: border-box;  
}

html{
    
}



   /*Estilos Generales*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 20px 80px 0px 80px;
   
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em; }      /*Tamaño de la fuente*/
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.2em;}


button{
    font-size: 1.25em;
    font-weight: bold;      /* Grosor de la fuente  */
    padding: 10px 30px;    /* propiedad de Relleno */
    border-radius: 30px;   /* borde circular */
    border: 2px black rgba(0,0,0,0.3);  
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Sombras*/
    color: white;
    background-color: rgb(56, 85, 2); 
    transition: all.3s ease-in-out;
}

button:hover{
    background-color: rgb(6, 6, 6);   
}




.contenedor{
 max-width: 1400px;
 margin: auto;
}

.color-acento{
    background-color: rgb(56, 85, 2);

}



    /* estilo por secciones */

        /* Encabezado */

header{
    background-color: white;
    position: sticky; 
    top: 0px;
    height: 60px;
   padding-right: 200px;
   padding-left: 115px;
   z-index: 1;
  
}


header .logo{
    margin: 0;
    padding: 25px 30px 30px 80px;
    font-weight: bold;
    color:  rgb(56, 85, 2);
    font-size: 1.5em;

}

.logo img {
    width: 30px;
    margin-right: 10px;
    font-weight: bold;
   
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

 
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
   
    

}

header a{
    color: black;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

header a:hover{
    background-color: rgb(56, 85, 2);
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}







   /* banner */

#banner{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 83vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
        ),
        url(./img/Entrena.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 55px;
          }



#banner h1 {
    color: white;
}

#banner button{
    font-size: 1.75em;
}




/* Seccion 1*/


#jesus-slider {
    font-family: sans-serif;
    margin: auto;
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    
}

#jesus-slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    
}

#jesus-slider>ul.slider {
    position: relative;
    animation: scroll 20s linear infinite;
    max-width: 800px;
    width: 100%;
    height: 300px;
}

#jesus-slider>ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#jesus-slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
    z-index: 0;
}

#jesus-slider>ul.slider li img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 30px;
    padding-bottom: 20px;
}

#jesus-slider>ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

#jesus-slider>ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

#jesus-slider>.menu {
    text-align: center;
    margin: 20px;
    font-size: 1;
 
}

#jesus-slider>.menu li {
    display: inline-block;
    text-align: center;
  
    
}

#jesus-slider>.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(56, 85, 2);
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 10px;
    border-radius: 100%;
   
   
    
}



/*seccion 2*/


#encualquierlugar{
    background-color: rgb(30,30,30);
    color: white;
    margin: 30px 20px 30px 20px;
    text-align: center;
    border-radius: 55px;
   
}

#encualquierlugar .contenedor{
    padding: 10px 10px;
    
}

#encualquierlugar h2{
    margin-top: 15px;
    font-size: 3.2em;
}

#encualquierlugar p{
    display: none;
   
}

#encualquierlugar .carta{
    background-position: center center;
    background-size: cover;
    padding: 60px 60px;
    margin: 30px;
    border-radius: 10px 100px / 120px 100px;
    
}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./img/encasa.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./img/alairelibre.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./img/enelgym.jpg");

}

/*Seccion 3*/ 

.testimonios-container {

    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 50px;
}

.testimonio {
    width: calc(50% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px 100px / 120px 100px; 
    transform: translateX(70%);
    
}

.testimonio:nth-child(odd) {
    width: calc(45% - 20px);
}

.foto-cliente {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.foto-cliente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor h2{
    display: flex;
    justify-content: center;
}

.texto-testimonio p {
    font-family: b;
    font-size: 20px;
    margin: 0;
}



/* #caracteristicas .contenedor{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
} */

/* Seccion 4*/

#registrateya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 50vh;
    border-radius: 55px;
} 

#registrateya h2{
    font-size: 50px;
}

#registrateya button{
    font-size: 3vw;
}

footer {
    background-color: rgb(230,230,230);
    border-radius: 50px;
  
}

footer p{
    margin: 0;
    display: flex;
    padding: 6px;
    color: rgb(100,100,100);
   
  
}

footer .contenedor{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


   
/* seccion 2 */
   #entrenaonline .contenedor{
    display: flex;
    justify-content: space-evenly;
  
   }


  #entrenaonline h2{
    margin: 0px;
  }

  #entrenaonline .img-contenedor{
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 200px; 
  }

  #encualquierlugar .cualquierlugar{
    display: flex;
    justify-content: center;
  }

#encualquierlugar p{
    display: block;
    margin-bottom: 30px;
}

#encualquierlugar h2{
    font-size: 2.5em;
}

#encualquierlugar h3{
    margin-top: 45px;
}

.carta:first-child{
    border-radius: 0px 20px 0px 20px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./img/encasa.jpg");
    

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./img/alairelibre.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("./img/enelgym.jpg");

}

#caracteristicas{
    background-image: url("./img/online.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;
   
  }

  #caracteristicas .contenedor{
    text-align: initial;
  }

  #caracteristicas ul{
    margin-left: 100px;
}

#registrateya h2{
    font-size: 3em;
}

#registrateya button{
    font-size: 1em;
}

footer .container{
    justify-content: flex-end;
}

/* @media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
} */


@media(min-width: 1140px){
    header{
        position: fixed;
        width: 100%;
    }

    header .contenedor{
        flex-direction: row;
        justify-content: space-between;

    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #banner h1{
        font-size: 5em;
   }
  }

  



@media( max-width: 1180px){
    header {
        position: fixed;
        width: 100%;
    }

    header .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    }

    header b{
        font-size: 20px;
    }

    .logo{
        transform: translateY(-28%);
        
    }

    .logo img{
        transform: translateY(28%);
    }


    #encualquierlugar {
        background-color: rgb(30, 30, 30);
            color: white;
            margin: 30px 20px 30px 20px;
            text-align: center;
            border-radius: 55px;
        }
        
        #encualquierlugar .contenedor {
            display: flex;
        flex-direction: column;
            padding: 20px 20px;
        }

        #encualquierlugar p {
            display: none;
        }
         
        #encualquierlugar .carta {
            display: flex;
            flex-direction: column;
            background-position: center center;
            background-size: cover;
            padding: 30px 30px;
            margin: 15px; /* Reducido el margen para acomodar en una fila */
            border-radius: 20px 10px;
        }
        
        .carta:first-child {
            background-image: linear-gradient(
             
        0deg,
                       rgba
        rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ), url("./img/encasa.jpg");
        }
        
        .carta:nth-child(2) {
            background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ), 
            
        
           
        url("./img/alairelibre.jpg");
        }
        
        .carta:nth-child(3) {
            background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5),
                
               
        rgba(0, 0, 0, 0.5)
            ), 
           
        url("./img/enelgym.jpg");
        }
    
         }    
                  
        
/* Estilos para móvil */

@media (max-width: 819px) {

    .menu-icon {
        display: block;
    }

    header nav {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px; /* Ajusta según el alto del encabezado */
        left: 0;
        background-color: white;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    header nav a {
        padding: 10px;
        font-size: 1rem;
    }

    header nav.active {
        display: flex;
    }

    header{
        position: relative;
        right: 20px;
        

    }

    .logo{
        height: 10px;
        position: relative;
        transform: translateY(-70%);
    }

    .logo img{
        transform: translateY(50%);
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }


   
   /* header{
    border-radius: 30px;
    transform: translateX(-30%);
    width: 450px;
    
   }

    header a{
        font-size: 10px;
        margin-top: 15px;
        font-weight: bold;
       position: relative;
       left: 80px;

    }



    .logo {
        display: none;  
    } */

    








    #banner{
        width: 400px;
       position: relative;
       right: 76px;
    }

    #banner h1{
        font-size: 25px;
    }


    #jesus-slider{
        position: relative;
       right: 76px;
    }


    #jesus-slider h1{
        font-size: 25px;
    }



    #encualquierlugar {
     
        margin: 15px; 
        text-align: left; 
        border-radius: 25px; 
        width: 400px;
        position: relative;
       right: 96px;
    }

    #encualquierlugar h2 {
        font-size: 25px;
        position: relative;
        right: 20px;
    }


    #encualquierlugar p {
        display: none;
    }

    #encualquierlugar h3 {
       font-size: 25px;
    }

    #encualquierlugar a {
        font-size: 12px;
    }



    #encualquierlugar .carta {
        padding: 10px; 
        margin: 5px; 
        border-radius: 10px;
    }

     button{
        height: 50px;
    }
      

    #jesus-slider{
        width: 400px;
    }
    
    
   .contenedor h2{
     transform: translateX(10%);
    }


    .testimonio{
        max-width: 100%;
        background-color: #f9f9f9;
        position: relative;
       right: 76px;
        
    }

    .testimonio p{
        font-size: 18px;
        width: 190px;
        transform: translateX(100px);
    }

    .foto-cliente{
        transform: translateX(100px);
    }


    #registrateya{
        width: 400px;
        position: relative;
       right: 76px;

    }

}







  
   

   
 